<div class="flex flex-col h-screen overflow-hidden">
  <app-sudo-header class="flex-shrink-0"></app-sudo-header>
  <div class="flex flex-1 overflow-hidden">
    <app-sudo-navbar
      [navItems]="navItems"
      appName="PraxiSoft©"
      appInitial="PS"
      userName="Juan Pérez"
      userRole="Administrador"
      userInitial="JP"
      (onNavigate)="handleNavigation($event)"
      (onCollapseChange)="handleCollapseChange($event)"
    ></app-sudo-navbar>
    <main class="flex-1 overflow-y-auto bg-shinny transition-colors ease-out duration-300 animation-opacity">
      <div class="w-full h-screen pt-12 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
