<div class="max-w-screen-lg mx-auto select-none h-fit">
  <div class="flex items-center justify-between mb-2">
    <div class="space-y-1">
      <div class="flex items-center gap-2">
        <app-icon-material nameIcon="star" sizeIcon="large" class="text-primary"></app-icon-material>
        <span class="text-xs font-medium text-primary">Últimas Tendencias</span>
      </div>
      <h2 class="text-lg font-bold text-foreground text-btw">Descubre nuestras aplicaciones</h2>
      <p class="text-muted-foreground text-sm text-btw">Herramientas poderosas para impulsar tu negocio</p>
    </div>
  </div>
  <app-carousel
    [items]="banners">
  </app-carousel>
</div>

<ng-template #praxiTemplate>
  <div
    class="min-w-full sm:min-h-96 h-fit flex flex-col-reverse sm:grid sm:grid-cols-2 bg-btw-secondary rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
    <div
      class="sm:py-12 w-full flex flex-col justify-center items-center sm:items-start sm:px-24 space-y-4 min-h-full h-fit px-12 py-4 sm:rounded-l-md">
      <app-chip className="text-gray-900 text-xxs bg-gray-200 font-medium px-3 py-1">Ventas</app-chip>
      <h2 class="w-full text-2xl font-bold text-foreground text-btw text-center sm:text-left">
        PraxiPos
      </h2>
      <p class="w-full text-xs font-light text-gray-500 text-center sm:text-left">
        Gestiona tus ventas de forma rápida y eficiente. Registra transacciones, administra tus productos y mantén el
        control total de tu negocio desde un solo lugar.
      </p>
      <ul class="w-full">
        <li class="text-btw font-semibold text-xs text-center sm:text-left">Ventas rápidas</li>
        <li class="text-btw font-semibold text-xs text-center sm:text-left">Gestión de productos</li>
        <li class="text-btw font-semibold text-xs text-center sm:text-left">Control de caja</li>
      </ul>
      <div class="flex gap-2 sm:justify-start justify-center w-full">
        <app-button-container variant="primary" size="sm" className="text-white gap-2">
          Ver más
          <app-icon-material nameIcon="arrow_forward"></app-icon-material>
        </app-button-container>
        <app-button-container variant="outline" size="sm" className="gap-2">
          Probar ahora
        </app-button-container>
      </div>
    </div>
    <div
      class="w-full h-full flex justify-center items-center bg-gradient-to-br from-emerald-600 via-emerald-300 to-emerald-200 rounded-md sm:rounded-none sm:rounded-r-md">
      <div
        class="h-36 w-36 flex justify-center items-center select-none rounded-md hover:scale-110 transition-transform duration-300 ease-linear my-6">
        <img src="assets/img/apps/praxi_pos.png" alt="praxi_pos" class="object-cover select-none">
      </div>
    </div>
  </div>
</ng-template>

<ng-template #praxiEduTemplate>
  <div
    class="min-w-full sm:min-h-96 h-fit flex flex-col-reverse sm:grid sm:grid-cols-2 bg-btw-secondary rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300">
    <div
      class="sm:py-12 w-full flex flex-col justify-center items-center sm:items-start sm:px-24 space-y-4 min-h-full h-fit px-12 py-4 sm:rounded-l-md">
      <app-chip className="text-gray-900 text-xxs bg-gray-200 font-medium px-3 py-1">Educación</app-chip>
      <h2 class="w-full text-2xl font-bold text-foreground text-btw text-center sm:text-left">
        PraxiEdu
      </h2>
      <p class="w-full text-xs font-light text-gray-500 text-center sm:text-left">
        Gestiona tus procesos educativos de forma ágil y eficiente. Registra estudiantes, administra cursos y mantén
        el control total de tu institución desde un solo lugar.
      </p>
      <ul class="w-full">
        <li class="text-btw font-semibold text-xs text-center sm:text-left">- Gestión de estudiantes</li>
        <li class="text-btw font-semibold text-xs text-center sm:text-left">- Administración de cursos</li>
        <li class="text-btw font-semibold text-xs text-center sm:text-left">- Control académico</li>
      </ul>
      <div class="flex gap-2 sm:justify-start justify-center w-full">
        <app-button-container variant="primary" size="sm" className="text-white gap-2">
          Ver más
          <app-icon-material nameIcon="arrow_forward"></app-icon-material>
        </app-button-container>
        <app-button-container variant="outline" size="sm" className="gap-2">
          Probar ahora
        </app-button-container>
      </div>
    </div>
    <div
      class="w-full h-full flex justify-center items-center bg-gradient-to-br from-orange-600 via-orange-300 to-orange-200 rounded-md sm:rounded-none sm:rounded-r-md">
      <div
        class="h-36 w-36 flex justify-center items-center select-none rounded-md hover:scale-110 transition-transform duration-300 ease-linear my-6">
        <img src="assets/img/apps/praxi_edu.png" alt="praxi_edu" class="object-cover select-none">
      </div>
    </div>
  </div>
</ng-template>
