<div class="flex flex-col mt-2">
  <div class="relative flex items-center border rounded-md p-2 shadow-sm bg-input-primary"
       [ngClass]="[
         (hasError() ? 'border-red-500': ''),
         (isValid() ? 'border-green-500': ''),
       ]">
    <div class="absolute left-3 text-btw">
      <i class="fa fa-solid"
         [ngClass]="[
         (hasError() ? 'text-red-500': ''),
         (isValid() ? 'text-green-500': ''),
         ((inputIconActive && inputIcon) ? ('fa-'+inputIcon):(''))
       ]"></i>
    </div>
    <input class="w-full pl-2 pr-3 py-1 text-xs border-none outline-none bg-transparent"
           [ngClass]="[
            ((inputIconActive && inputIcon) ? ('pl-8'):(''))
            ]"
           [type]="showPassword ? 'text':'password'"
           [readOnly]="disabled"
           [name]="inputName"
           [id]="inputName"
           [autocomplete]="inputName"
           [placeholder]="inputPlaceholder"
           [ngModel]="inputValue"
           (ngModelChange)="changeValue($event)"
           (blur)="touchedControl()">
    <label class="absolute top-[-12px] left-2 bg-white px-1 text-xs text-btw"
           [for]="inputName"
           [ngClass]="[
         (hasError() ? 'text-red-500': ''),
         (isValid() ? 'text-green-500': ''),
       ]">
      {{ inputLabel }}
    </label>
    <button
      type="button"
      (click)="showPassword = !showPassword"
      class="absolute right-3 text-btw rounded-full shadow-md bg-btw-secondary hover:bg-button-primary hover:text-white h-8 w-8 flex justify-center items-center">
      <i class="fa fa-solid"
         [ngClass]="[
         (showPassword ? 'fa-eye-slash': ''),
         (!showPassword ? 'fa-eye': ''),
       ]"></i>
    </button>
  </div>
  <p class="text-red-500 text-xs h-4 text-wrap text-over-1-line" [title]="hasError() ? getErrorMessage():''">
    <ng-container *ngIf="hasError()">
      {{ getErrorMessage() }}
    </ng-container>
  </p>
</div>
