<div class="min-w-full flex px-2 nav-container shadow bg-btw-secondary items-center border-b-btw z-30 h-14">
  <ng-container *ngFor="let config of tabConfig">
    <button
      [title]="config.label"
      class="w-14 h-14 text-btw flex flex-col justify-between items-center p-1 border-b-4 hover:bg-button-primary hover:text-white transition-colors duration-300"
      [routerLink]="config.path" routerLinkActive="border-primary">
      <div class="h-7 w-7 flex justify-center items-center">
        <ng-container *ngIf="config.typeResource == 'icon'">
          <app-icon-material [nameIcon]="config.resource" sizeIcon="extra_large"></app-icon-material>
        </ng-container>
        <ng-container *ngIf="config.typeResource == 'img'">
          <img [src]="config.resource" class="object-scale-down h-full w-full" alt="img_provider">
        </ng-container>
      </div>
      <p class="text-xs text-over-1-line max-w-full overflow-hidden">{{ config.label }}</p>
    </button>
  </ng-container>
</div>
