<div
  class="min-h-screen flex sm:items-center justify-center sm:p-4 sm:bg-chill bg-center bg-fixed bg-cover transition-colors duration-300 ease-out">
  <div class="w-full max-w-md sm:shadow-xl border-0 bg-btw-secondary backdrop-blur-sm rounded-lg animation-opacity">
    <!-- Header -->
    <div class="space-y-6 pb-8 pt-8 px-6">
      <div class="flex justify-center">
        <app-box-image className="w-24 h-24 flex justify-center items-center overflow-hidden">
          <img src="assets/img/logos/logo_praxi.svg" alt="logo_praxi" class="object-cover h-full">
        </app-box-image>
      </div>
      <div class="text-center space-y-2">
        <h1 class="text-2xl font-semibold text-btw">Bienvenido</h1>
        <p class="text-btw">Llena tus datos para registrarte</p>
      </div>
    </div>
    <!-- Content -->
    <div class="space-y-6 px-6 pb-8">
      <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <combo-input-text
          inputLabel="Nombre completo"
          inputPlaceholder="Nombres y apellidos"
          inputIcon="user"
          inputName="name"
          [inputIconActive]="true"
          [control]="formRegister.controls['name']"
        >
        </combo-input-text>
        <combo-input-text
          inputLabel="Nombre de usuario"
          inputPlaceholder="Tu nombre de usuario"
          inputIcon="user"
          inputName="username"
          [inputIconActive]="true"
          [control]="formRegister.controls['username']"
        >
        </combo-input-text>
        <combo-input-text
          inputLabel="Correo electrónico"
          inputPlaceholder="correo@ejemplo.com"
          inputIcon="envelope"
          inputName="email"
          [inputIconActive]="true"
          [control]="formRegister.controls['email']"
        >
        </combo-input-text>
        <combo-input-password
          inputLabel="Contraseña"
          inputPlaceholder="***********"
          inputIcon="lock"
          inputName="password"
          [inputIconActive]="true"
          [control]="formRegister.controls['password']"
        >
        </combo-input-password>
        <combo-input-password
          inputLabel="Confirmar contraseña"
          inputPlaceholder="***********"
          inputIcon="lock"
          inputName="password_confirmation"
          [inputIconActive]="true"
          [control]="formRegister.controls['password_confirmation']"
        >
        </combo-input-password>
        <ng-container
          *ngIf="formRegister.controls['password'].touched || formRegister.controls['password_confirmation'].touched">
          <ng-container *ngIf="!validatePassword">
            <p appTypography="semi_medium" class="text-red-400 text-center mb-6">Contraseñas no coinciden.</p>
          </ng-container>
        </ng-container>
        <!-- Register Button -->
        <div class="grid gap-3">
          <app-button-container
            type="button"
            variant="primary"
            [disabled]="formRegister.invalid || !validatePassword"
            (clickEvent)="onSubmit()"
            className="text-white w-full disabled:bg-gray-400">
            Registrarse
          </app-button-container>
          <app-button-container
            type="button"
            variant="outline"
            (clickEvent)="cancelSubmit()"
            className="text-btw w-full">
            Cancelar
          </app-button-container>
        </div>
      </form>
    </div>
  </div>
</div>
