<div class="mx-auto">
  <div class="mb-8">
    <app-home-banners-last></app-home-banners-last>
<!--    <hr>-->
<!--    <div class="flex w-full justify-start gap-3 flex-wrap">-->
<!--      <app-box-simple-->
<!--        className="w-fit h-fit grid grid-rows-2 bg-transparent gap-2 select-none hover:-translate-y-2 transition-transform duration-300">-->
<!--        <app-box-simple-->
<!--          className="w-36 h-36 max-w-24 max-h-24 overflow-hidden p-2 bg-white flex justify-center items-center button-gradient cursor-pointer border border-gray-200">-->
<!--          <img src="assets/apps/praxi_edu/logo.svg" alt="logo_app"-->
<!--               class="object-scale-down w-20 h-20 flex justify-center items-center">-->
<!--        </app-box-simple>-->
<!--        <p class="text-btw font-semibold text-sm text-over-1-line text-center">PraxiEdu</p>-->
<!--      </app-box-simple>-->
<!--      <app-box-simple-->
<!--        className="w-fit h-fit grid grid-rows-2 bg-transparent gap-2 select-none hover:-translate-y-2 transition-transform duration-300">-->
<!--        <app-box-simple-->
<!--          className="w-36 h-36 max-w-24 max-h-24 overflow-hidden p-4 bg-white flex justify-center items-center button-gradient cursor-pointer border border-gray-200">-->
<!--          <img src="assets/apps/praxi_task/logo.svg" alt="logo_app"-->
<!--               class="object-scale-down w-20 h-20 flex justify-center items-center">-->
<!--        </app-box-simple>-->
<!--        <p class="text-btw font-semibold text-sm text-over-1-line text-center">PraxiTask</p>-->
<!--      </app-box-simple>-->
<!--      <app-box-simple-->
<!--        className="w-fit h-fit grid grid-rows-2 bg-transparent gap-2 select-none hover:-translate-y-2 transition-transform duration-300">-->
<!--        <app-box-simple-->
<!--          className="w-36 h-36 max-w-24 max-h-24 overflow-hidden p-4 bg-white flex justify-center items-center button-gradient cursor-pointer border border-gray-200">-->
<!--          <img src="assets/apps/praxi_pos/logo.svg" alt="logo_app"-->
<!--               class="object-scale-down w-20 h-20 flex justify-center items-center">-->
<!--        </app-box-simple>-->
<!--        <p class="text-btw font-semibold text-sm text-over-1-line text-center">PraxiPos</p>-->
<!--      </app-box-simple>-->
<!--    </div>-->
  </div>
</div>
