<div class="w-full p-2 sm:p-6">
  <div class="w-full max-w-4xl mx-auto bg-btw-secondary rounded-lg shadow-lg overflow-hidden">
    <!-- Header -->
    <div class="bg-primary text-white px-6 py-4">
      <h2 class="text-2xl font-bold text-white">{{ title }}</h2>
    </div>
    <!-- Form -->
    <div [formGroup]="form" class="p-6 space-y-6">
      <ng-container *ngIf="step == 1">
        <!-- Información Básica -->
        <app-application-form-step-one [formStep]="form"
                                       [loading]="loading"
                                       [mode]="mode"
                                       (submitStep)="onSubmitStepOne()"
                                       (cancelStep)="onCancelStepOne()">

        </app-application-form-step-one>
      </ng-container>
      <ng-container *ngIf="step == 2">
        <app-application-form-step-two [formStep]="form"
                                       [loading]="loading"
                                       [mode]="mode"
                                       (submitStep)="onSubmitStepTwo()"
                                       (cancelStep)="onCancelStepTwo()">
        </app-application-form-step-two>
      </ng-container>
    </div>
  </div>
</div>
