<div
  class="min-h-screen flex sm:items-center justify-center sm:p-4 sm:bg-chill bg-center bg-fixed bg-cover transition-colors duration-300 ease-out">
  <div class="w-full max-w-md sm:shadow-xl border-0 bg-btw-secondary backdrop-blur-sm rounded-lg animation-opacity">
    <!-- Header -->
    <div class="space-y-6 pb-8 pt-8 px-6">
      <div class="flex justify-center">
        <app-box-image className="w-24 h-24 flex justify-center items-center overflow-hidden">
          <img src="assets/img/logos/logo_praxi.svg" alt="logo_praxi" class="object-cover h-full">
        </app-box-image>
      </div>
      <div class="text-center space-y-2">
        <h1 class="text-2xl font-semibold text-btw">Bienvenido</h1>
        <p class="text-btw">Inicia sesión en tu cuenta</p>
      </div>
    </div>
    <!-- Content -->
    <div class="space-y-6 px-6 pb-8">
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
        <combo-input-text
          inputLabel="Correo electrónico"
          inputPlaceholder="correo@ejemplo.com"
          inputIcon="envelope"
          inputName="email"
          [inputIconActive]="true"
          [control]="formLogin.controls['email']"
        >
        </combo-input-text>
        <combo-input-password
          inputLabel="Contraseña"
          inputPlaceholder="***********"
          inputIcon="lock"
          inputName="password"
          [inputIconActive]="true"
          [control]="formLogin.controls['password']"
        >
        </combo-input-password>
        <!-- Forgot Password Link -->
        <div class="flex mt-2 mb-4 justify-center">
          <a
            routerLink="/auth/recover"
            class="text-sm text-primary hover:text-emerald-700 font-medium transition-colors duration-200"
          >
            ¿Olvidaste tu contraseña?
          </a>
        </div>
        <!-- Login Button -->
        <app-button-container
          type="submit"
          variant="primary"
          [disabled]="formLogin.invalid"
          className="text-white w-full disabled:bg-gray-400">
          Iniciar sesión
        </app-button-container>
      </form>
      <!-- Divider -->
      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <span class="w-full border-t text-btw"></span>
        </div>
        <div class="relative flex justify-center text-xs uppercase">
          <span class="bg-btw-secondary px-2 text-btw">o</span>
        </div>
      </div>
      <!-- Google Login Button -->
      <div id="google-btn" class="mx-auto flex w-full justify-center"></div>
      <!-- Register Link -->
      <div class="text-center text-sm text-slate-600">
        ¿No tienes una cuenta?
        <span (click)="goToRegister()"
              class="text-primary cursor-pointer hover:text-emerald-700 font-medium transition-colors duration-200 ml-1">
          Regístrate aquí
        </span>
      </div>
    </div>
  </div>
</div>
