.table-empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  :is(svg) {
    height: 150px;
    max-height: 150px;
    width: 150px;
    max-width: 150px;
    object-fit: cover;

    :is(path) {
      fill: var(--color-primary) !important;
    }
  }
}
