<!-- Personal Information -->
<app-box-simple className="w-full px-5 py-6 border border-btw shadow-md">
  <h2 class="text-xl font-semibold text-btw mb-6 flex items-center ">
    <svg class="w-5 h-5 mr-2 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
    </svg>
    Información personal
  </h2>
  <form [formGroup]="formAccount" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <combo-input-text
        inputLabel="Nombre completo"
        inputPlaceholder="Nombres y apellidos"
        inputIcon="user"
        inputName="name"
        [inputIconActive]="true"
        [control]="formAccount.controls['name']"
      >
      </combo-input-text>
      <combo-input-text
        inputLabel="Correo electrónico"
        inputPlaceholder="correo@ejemplo.com"
        inputIcon="envelope"
        inputName="email"
        [inputIconActive]="true"
        [control]="formAccount.controls['email']"
      >
      </combo-input-text>
    </div>
    <div class="flex justify-end">
      <button
        type="button"
        (click)="onSubmit()"
        class="px-6 py-3 bg-gradient-to-r bg-primary text-white font-medium rounded-xl shadow-lg hover:shadow-xl transition-all duration-200"
      >
        Guardar cambios
      </button>
    </div>
  </form>
</app-box-simple>
