.text-general {
  color: var(--color-text-general);
}

.text-btw {
  color: var(--color-text-btw);
}

.text-primary {
  color: var(--color-primary);
}

/*overline*/

.text-over-1-line {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-over-2-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.text-xxs {
  font-size: 0.65rem;
}
