<nav class="min-w-full fixed flex justify-between px-2 nav-container border-b-btw items-center"
     style="height: 50px; top: 0">
  <div class="flex justify-between gap-2 items-center">
    <div class="flex justify-center items-center" style="width: 30px; height: 30px">
      <button class="rounded shadow-md flex justify-center items-center" (click)="openSidebar()"
              style="width: 30px; height: 30px">
        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="7" height="7" fill="white"/>
          <rect x="10" width="7" height="7" fill="white"/>
          <rect y="11" width="7" height="7" fill="white"/>
          <rect x="10" y="11" width="7" height="7" fill="white"/>
        </svg>
      </button>
    </div>
    <div class="text-white flex flex-col justify-center gap-0">
      <h3 class="text-sm text-btw font-bold">{{ title }}</h3>
      <p class="text-xs text-btw">{{ breadcrumbTransformed }}</p>
    </div>
  </div>
  <div class="flex justify-between items-center gap-1" style="min-width:40px; max-width: 200px">
    <div class="grid col-span-1 content-center items-center justify-center place-items-center h-full relative"
         appClickOutSide (clickOutside)="clickOutside()" (overflowDetected)="overflowDetect($event)">
      <button class="w-10 h-10 rounded-full container-img flex justify-center items-center p-3 bg-darken-30"
              (click)="openBox()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#FFF"
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
        </svg>
      </button>
      <ng-container *ngIf="isVisible">
        <div
          class="box-user grid absolute bg-btw-secondary shadow-md rounded-md border-btw p-3 gap-2 items-center justify-center"
          [ngStyle]="{
      'right': '-'+ overflowValue + 'px'
      }">
          <div class="p-4 rounded-full bg-btw-primary">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="var(--color-text-btw)"
                d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
            </svg>
          </div>
          <div>
            <p class="text-btw text-1-over text-xs">{{ accountData.name }}</p>
            <p class="text-btw text-1-over text-sm font-bold">Comboplay S.A.S</p>
          </div>
          <button class="p-4 rounded-md bg-btw-primary cursor-pointer" (click)="closeSession()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="var(--color-text-btw)">
              <path
                d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
            </svg>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #sessionUserData>
  <p class="font-light text-xs text-1-over text-btw">{{ accountData.username }}</p>
  <p class="font-bold text-xs text-btw">Comboplay S.A.S</p>
</ng-template>
